csv
zip
.vscode
.ipynb_checkpoints
__pycache__
ts_process.ipynb
air_proc_res.csv
hpg_proc_res.csv
alpha
data_merge.ipynb
res_train.csv
airres_train.csv
train.ipynb
air_store_info.csv
air_visit_data.csv
sample_submission.csv

